.deck-container {
	margin-top: 44px;
	box-sizing: border-box;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.deck-search {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.deck-section-container {
	width: auto;
	height: auto;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
}

.deck-section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.section-headers {
	display: inline-block;
	margin: 10px;
	border-bottom: 1px solid var(--cantoDarkBlue);
}
