.compound-span {
  overflow: hidden;
}

.back-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: component-alert-fadeIn 0.5s 0.2s forwards;
}

.pop-over,
.drop-down {
	position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 4px;
  background: var(--cantoWhite);
  display: inline-block;
  z-index: 98;
  overflow: hidden;
}

.pop-over {
  box-shadow: var(--cantoFloatShadow);
}

.drop-down {
  box-shadow: var(--cantoShadow);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/*---------animations----------*/

.animate-in {
  opacity: 0;
  animation: pop-over-in 0.5s forwards;
}

.animate-out {
  opacity: 1;
  animation: pop-over-out 0.3s forwards;
}

@keyframes pop-over-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop-over-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}