.sign-in-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo-container {
	height: 55px;
	width: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px
}

.sign-in-input {
	width: 100%;
	margin-bottom: 20px;
}

.form-group {
	margin-top: 15px;
}

.register {
	cursor: pointer;
	text-decoration: underline;
	font-size: 12px;
}