.full,
.ghost {
	width: auto;
	height: auto;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: all .2s linear;
	text-align: center;
	box-sizing: border-box;
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.with-icon {
	margin: 0 0 0 10px;
}

.without-icon {
	margin: 0;
}

.full {
	background: linear-gradient(to bottom right, #1a588e, var(--cantoDarkBlue));
	color: var(--cantoWhite);
}

.full p {
	color: var(--cantoWhite);
}

.ghost {
	color: var(--cantoBlue);
	background: transparent;
	border: solid 1px var(--cantoDarkGray);
}

.full:hover {
	background: linear-gradient(to bottom right, #2170b5, var(--cantoDarkBlue));
}

.ghost:hover,
.selected-button {
	border: solid 1px var(--cantoDarkBlue);
}

.selected-button {
	background: var(--cantoGray);
}

.ghost:active {
	background: var(--cantoDarkGray);
}
