.full,
.ghost {
	width: auto;
	height: auto;
	border-radius: 4px;
	outline: none;
	font-size: 16px;
	cursor: pointer;
	transition: all .3s;
	margin: 10px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
}

.full {
	background: linear-gradient(to bottom right, #1a588e, var(--cantoDarkBlue));
	color: var(--cantoWhite);
}

.ghost {
	color: var(--cantoBlue);
	background: transparent;
}

.full:hover {
	background: linear-gradient(to bottom right, #2170b5, var(--cantoDarkBlue));
	transform: scale(1.1);
}

.ghost:hover {
	color: #1a588e;
	transform: scale(1.02);
}