.profile {
	width: 250px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.top-bar {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 8px;
	background: var(--cantoGray);
}

.top-bar p,
.top-bar h4 {
	padding-left: 10px;
}

.setting-list {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: calc(100% - 60px);
}