.entry-row {
	width: 90%;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	border-radius: 4px;
	padding: 10px ;
	margin: 10px;
	box-shadow: 0 2px 2px 1px #ccc;
	transition: all 0.3s ease-in-out;
}

.entry-row:active {
	transform: scale(9.98);
}

.entry-row:hover {
	background: #e8e8e8;
	transform: scale(1.02);
}

.entry-row > * {
	width: 50%;
	height: 50%;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.entry-row p {
	font-size: 16px;
}

.top-left h3 {
	font-size: 22px;
	margin-right: 8px;
}