.profile {
	max-width: 500px;
	min-width: 100%;
	min-height: 400px;
	padding: 20px;
	box-sizing: border-box;
	text-align: left;
	background: var(--cantoWhite);
}

.profile-inner {
	width: auto;
}

.profile h2 {
	margin: 5px 0;
}

.section {
	padding: 10px 0;
}

.section > p {
	margin: 10px 0;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
