.list-item {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	background: var(--cantoGray);
	padding: 8px 20px;
}

.list-item:hover {
	background: var(--cantoDarkGray);
	cursor: pointer;
}

.list-icon-container {
	width: 40px;
	height: 40px;
}

.list-item p {
	padding-left: 8px;
	font-size: 14px;
	color: var(--cantoDarkBlue);
}