.nav {
	width: 250px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	background: var(--cantoWhite)
}

.link {
	height: auto;
	width: 100%;
	text-decoration: none;
}