.word-of-day {
	width: 100%;
	height: 100%;
	background: var(--cantoWhite);
}

.search-bar {
	position: absolute;
	top: 0;
	right: 0;
}

.split-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
}

.half-container {
	width: 50%;
	height: 100%;
}


@media screen and (max-width: 700px) {
	.split-container {
		top: 54px;
	}

	.half-container {
		width: 100%;
	}
}