.logo {
	height: 30px;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo img {
	width: 30px;
	height: auto;
	margin-right: 10px;
	fill: var(--cantoDarkBlue);
}

.logo h3 {
	color: var(--cantoDarkBlue);
}