.alert {
	position: absolute;
	box-sizing: border-box;
	width: 250px;
	height: auto;
	padding: 10px;
	border-radius: 4px;
	right: 50px;
	transition: all 0.3s linear;
	background: var(--cantoWhite);
	box-shadow: var(--cantoFloatShadow);
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.alert h4 {
	margin: 0 0 10px 0;
	font-family: 'Heebo', sans-serif;
}

.alert p {
	margin: 0;
}

.alertIsVisible {
	bottom: 20px;
}

.alertIsHidden {
	bottom: -100px;
}

.alert-icon-group {
	height: 100%;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.alert-input-icon {
	width: auto;
	height: auto;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-divider {
	background: linear-gradient(to bottom, transparent, var(--cantoDarkGray), var(--cantoDarkGray), var(--cantoDarkGray), transparent);
	width: 1px;
	height: 95%;
}