.alert {
	position: absolute;
	box-sizing: border-box;
	width: 250px;
	height: auto;
	padding: 10px;
	border-radius: 4px;
	right: 50px;
	transition: all 0.3s linear;
	background: var(--cantoWhite);
	box-shadow: var(--cantoFloatShadow);
	text-align: center;
}

.alert h4 {
	margin: 0 0 10px 0;
	font-family: 'Heebo', sans-serif;
}

.alert p {
	margin: 0;
}

.alertIsVisible {
	bottom: 20px;
}

.alertIsHidden {
	bottom: -100px;
}