.icon {
	background: transparent;
	border: none;
	color: var(--cantoWhite);
	outline: none;
	padding-bottom: 20px;
	text-align: center;
}

.icon:hover,
svg:hover {
	color: var(--cantoPink);
	fill: var(--cantoPink);
}

.icon p {
	font-size: 12px;
	text-decoration: none;
}

svg {
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	fill: var(--cantoWhite);
}