.nav-bar {
	background: var(--cantoDarkBlue);
	text-align: center;
	box-shadow: var(--cantoShadow)
}


.nav-list {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
}

.icon-button {
	width: 100%;
	height: 80px;
}
