.search-bar {
	position: absolute;
	top: 0;
	right: 0;
}

.split-container {
	position: absolute;
	top: 44px;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
}

.entry-view-container,
.entry-list-container {
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.entry-list-container {
	align-items: center;
	overflow: hidden;
}

.entry-view-container {
	align-items: flex-start;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 10px;
}

.hidden-entry-view {
	bottom: -90%;
}

.visible-entry-view {
	bottom: -5%;
}

.invisible-div {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 575px) {
	.split-container {
		top: 54px;
	}
}
@media screen and (max-width: 700px) {
    .entry-list-container {
		width: 100%;
		height: 100%;
	}

	.entry-view-container {
		position: absolute;
		width: 100%;
		height: 90%;
		left: 0;
		transition: all 0.4s;
		overflow: hidden;
	}

	.split-container {
		display: block;
	}
}