.what-page {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: flex;
	justify-content: center;

	.what {
		max-width: 600px;
		height: auto;
		margin-top: 20px;
		padding: 10px 20px;
		text-align: center;
		background: var(--cantoWhite);

		.banner-logo-container {
			height: 80px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.heading {
				margin-left: 10px;
			}
		}

		.pink {
			color: var(--cantoPink);
		}
	}
}



