.hover-box-container {
	position: relative;
	box-sizing: border-box;
	width: auto;
	height: auto;
	background: var(--cantoWhite);
	box-shadow: var(--cantoShadow);
}

.hover-close {
	position: absolute;
	height: 15px;
	width: 15px;
	top: 10px;
	right: 10px;
	outline: none;
	background: transparent;
	border: none;
	cursor: pointer;
}
