.title-bar {
	background: var(--cantoDarkBlue);
	overflow: hidden;
}

.slanted-div {
	position: absolute;
	width: 350px;
	transform: rotateZ(55deg);
}
.logo-div {
	height: 300px;
	top: -90px;
	left: -140px;
	background: var(--cantoPink);
}

.current-div {
	height: 150px;
	top: -50px;
	left: 110px;
	background: var(--cantoWhite);
}

.title-logo-container {
	position: absolute;
	width: 190px;
	height: 100%;
	top: 0;
	left: 0;

}

.title-logo {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px 20px;
	
}

.current-container {
	position: absolute;
	height: 50px;
	width: 200px;
	left: 185px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.current {
	color: var(--cantoDarkBlue);
}

.button-container {
	position: absolute;
	height: 50px;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	top: 0;
	right: 0;
}

.button {
	background: transparent;
	outline: none;
	border: none;
	width: 40px;
	height: 100%;
}
