.new-entry {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 10px;

	.inner-new-entry {
		padding: 0 10px;
		width: 100%;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: center;

		.heading {
			width: 100%;
			text-align: center;
		}
	}
}
