.entry-view {
	height: auto;
	width: 100%;
	display: block;
	padding: 30px;
	box-sizing: border-box;
	background: var(--cantoWhite);
	border: solid 1px var(--cantoDarkGray);
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
}

.entry-view:hover {
	box-shadow: var(--cantoShadow);
}

.inner-entry-view {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: auto;
}

.entry-btn-container {
	position: absolute;
	width: auto;
	height: auto;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.entry-btn-container * {
	margin: 0;
}

.top-group {
	margin-right: 50px;
}

.inner-entry-view p {
	font-size: 18px;
	margin: 10px 0;
}

.canto-class {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

.canto-class h3,
.canto-class p {
	margin: 0;
}

.canto-class p {
	font-size: 16px;
}

.canto-class h3 {
	font-size: 38px;
	margin-right: 8px;
	font-family: 'Heebo', sans-serif;
}

.entry-btn {
	border-style: none;
	background: transparent;
	outline: none;
	cursor: pointer;
	margin: 8px 0;
	transition: all .2s;
	
}

.entry-btn:active {
	transform: scale(0.8);
}

.inner-entry-view .ghost-div {
	width: auto;
	height: auto;
	max-height: 40px;
	min-width: 50px;
	margin: 5px;
}

.entry-section {
	margin-bottom: 30px;
}

.wod-date {
	font-weight: bold;
	margin-top: 0;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
	.inner-entry-view {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.entry-view  {
		box-shadow: var(--cantoFloatShadow);
		height: 100%;
		padding: 30px 50px;
	}

	.entry-view:hover {
		box-shadow: var(--cantoFloatShadow);
	}
}

@media screen and (max-width: 1000px) {
	.wod-date {
		font-size: 1em
	}
}

@media screen and (max-width: 700px) {
	.entry-view  {
		margin: 27px 0;
	}
}

@media screen and (min-height: 768px) {
	.entry-view  {
		max-height: 600px;
	}
}

@media screen and (min-width: 1200px) {
	.entry-view {
		padding: 40px 60px;
	}
}
