.alert {
	position: absolute;
	box-sizing: border-box;
	width: 250px;
	height: auto;
	padding: 10px;
	border-radius: 4px;
	right: 50px;
	bottom: 20px;
	transition: all 0.4s linear;
	background: var(--cantoWhite);
	box-shadow: var(--cantoFloatShadow);
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.alert h4 {
	margin: 0 0 10px 0;
	font-family: 'Heebo', sans-serif;
}

.alert p {
	margin: 0;
}

.alertIsVisible {
	opacity: 1;
	transform: translateY(0) scale(1);
}

.alertIsHidden {
	opacity: 0;
	transform: translateY(100px) scale(0);
}

.alert-icon-group {
	height: 100%;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.alert-input-icon {
	width: auto;
	height: auto;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pop-divider {
	background: var(--cantoDarkGray);
	width: 1px;
	height: 95%;
}