.sign-in-container {
	max-width: 1000px;
	min-height: 500px;
	padding: 20px;
	box-sizing: border-box;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background: var(--cantoWhite);
}

.left-panel,
.right-panel {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
	min-width: 310px;
	width: 45%;
	height: 100%;
}

.sign-in-container p {
	margin: 4px;
}

.right-title {
	margin-bottom: 30px;
}

.sign-in-input {
	width: 100%;
	margin-bottom: 20px;
}

.form-group {
	margin-top: 15px;
}

.bottom-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.mini,
.underline-button {
	font-size: 12px;
}

.underline-button {
	cursor: pointer;
	text-decoration: underline;
}

@media screen and (max-width: 575px) {
    .mini,
	.underline-button {
		font-size: 16px;
	}
}
