.sign-in-container {
	max-width: 320px;
	height: auto;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--cantoWhite);
	box-shadow: var(--cantoShadow);
}

.sign-in-container p {
	margin: 4px;
}

.sign-in-input {
	width: 100%;
	margin-bottom: 20px;
}

.form-group {
	margin-top: 15px;
}

.register {
	cursor: pointer;
	text-decoration: underline;
	font-size: 12px;
}