.sign-in-container {
	max-width: 1000px;
	min-height: 500px;
	padding: 20px;
	box-sizing: border-box;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background: var(--cantoWhite);
}

.left-panel,
.right-panel {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
	min-width: 310px;
	width: 45%;
	height: 100%;
}

.sign-in-container p {
	margin: 4px;
}

.right-title {
	margin-bottom: 30px;
}

.sign-in-input {
	width: 100%;
	margin-bottom: 20px;
}

.form-group {
	margin-top: 15px;
}

.bottom-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.mini,
.underline-button {
	font-size: 14px;
	color: #444;
}

.underline-button {
	cursor: pointer;
	color: var(--cantoBlue);
	font-weight: bold;
	text-decoration: none;
}

.agree-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

/*---CheckBox-----*/

.checkbox {
    cursor: pointer;
}

.checkbox-label {
    display: block;
    border: solid 1px var(--cantoDarkGray);
    border-radius: 100%;
    width: 1em;
    height: 1em;
    cursor: pointer;
    margin-right: 5px;
}
.checkbox {
	display: none;
}
.checkbox:checked + .checkbox-label {
	background-color: var(--cantoPink);
	border: solid 1px var(--cantoDarkBlue);
}

.custom-fb-button {
	background: #4c69ba;
	color: var(--cantoWhite);
	height: 45px;
	border-radius: 4px;
	font-size: 16px;
	padding: 5px 15px;
	margin: 10px 0 10px 20px;
	cursor: pointer;
	outline: none;
}



@media screen and (max-width: 575px) {
    .mini,
	.underline-button {
		font-size: 16px;
	}

	.custom-fb-button {
		height: 55px;
	}
}
