.search-bar-container,
.search-bar  {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
}

.search-bar-container {
	height: 54px;
	background: linear-gradient(var(--cantoWhite) 0%, var(--cantoWhite) 80%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(var(--cantoWhite) 0%, var(--cantoWhite) 80%, rgba(255, 255, 255, 0) 100%);
}

.search-bar {
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.search-container {
	width: 400px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0 10px;
}

.bottom-divider {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	display: block;
	background: var(--cantoDarkGray);
	width: 100%;
	height: 1px;
}

.filter-container {
	margin-right: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media screen and (max-width: 575px) {
	.search-bar-container {
		height: 64px;
	}

	.search-bar {
		height: 54px;
	}

    .search-container {
		width: 100%;
		justify-content: center;
	}

}