@import url('https://fonts.googleapis.com/css?family=Heebo|Noto+Sans+HK|Noto+Sans+SC|Roboto+Slab&display=swap');

:root {
	--cantoDarkBlue: #062743;
	--cantoBlue: #113a5d;
	--cantoPink: #ff7a8a;
	--cantoWhite: #f9f9f9;
  --cantoGray: #e0e0e0;
  --cantoDarkGray: #d1d1d1;
  --cantoShade: rgba(6, 38, 66, 0.62);;
  --cantoShadow: 0 1px 6px 0 rgba(0, 0, 0, 0.14);
  --cantoFloatShadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', 'Noto Sans HK', 'Noto Sans SC', serif;
  color: var(--cantoBlue);
}

p {
  color: var(--cantoBlue);
}

.contact-h {
  margin: 5px 0;
}

.pink {
  color: var(--cantoPink);
}

body {
  margin: 0;
  padding: 0;
  background: var(--cantoWhite);
  font-family: 'Heebo', 'Noto Sans HK', 'Noto Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*--------Reusable pieces------------*/

.fill,
.center-div  {
  width: 100%;
  height: 100%;
}

.centered,
.center-div,
.vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.over-flow {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.ghost-div {
  width: 100%;
  height: 100%;
  background: var(--cantoGray);
}

.list-divider {
  width: 95%;
  height: 1px;
  background: var(--cantoDarkGray);
}

.page,
.page-trans {
  height: 100%;
  width: 100%;
  box-shadow: var(--cantoShadow);
}

.page {
  background: var(--cantoWhite);
}

.page-trans {
  background: transparent;
}

/*-----Transition Animation ------*/

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms linear 200ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 200ms linear;
}

/*-----list animation-------*/

.animate-pop-in {
  opacity: 0;
  animation: pop-in .6s cubic-bezier(0, .9, .3, 1.2) forwards;
}

.animate-pop-out {
  opacity: 0;
  animation: pop-out .6s cubic-bezier(0, .9, .3, 1.2) forwards;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4em) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(-4em) scale(0.8);
  }
}

/*---------animations----------*/

.animate-in {
  opacity: 0;
  animation: pop-over-in 0.5s forwards;
}

.animate-out {
  opacity: 1;
  animation: pop-over-out 0.3s forwards;
}

@keyframes pop-over-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop-over-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*--------Scroll Bar------------*/

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d1d1; 
}


/*----background-----*/

.login-background {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hide;
  background-color: var(--cantoWhite);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ff7a8a' fill-opacity='0.24'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
