@import url('https://fonts.googleapis.com/css?family=Heebo|Playfair+Display');

:root {
	--cantoDarkBlue: #062743;
	--cantoBlue: #113a5d;
	--cantoPink: #ff7a8a;
	--cantoWhite: #f9f9f9;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--cantoWhite);
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
