@import url('https://fonts.googleapis.com/css?family=Heebo|Playfair+Display');

:root {
	--cantoDarkBlue: #062743;
	--cantoBlue: #113a5d;
	--cantoPink: #ff7a8a;
	--cantoWhite: #f9f9f9;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  color: var(--cantoDarkBlue);
}

p {
  color: var(--cantoDarkBlue);
}

body {
  margin: 0;
  padding: 0;
  background: var(--cantoWhite);
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*---------animations----------*/

.animate-pop-in {
  opacity: 0;
  animation: pop-in .7s .3s cubic-bezier(0, .9, .3, 1.2) forwards;
}

.animate-fade-in {
  opacity: 0;
  animation: fade-in .5s  ease-out forwards;
}


@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-6em) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--------Scroll Bar------------*/

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d1d1; 
}
